body{
    background-color: paleturquoise
}

.ninja{
    background-color: white;
    border-radius: 1em;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}